.glass-panel-dark {
    background: linear-gradient(to bottom, rgba(121, 117, 131, 0.33), rgba(54, 53, 103, 0.33));
    background-color: rgba(18, 18, 19, 0.95);
    box-shadow: 0 0 4px 1px var(--border-shadow);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    opacity: 0.95;
}

.glass-panel-light {
    border-left: 1px solid rgba(200, 200, 200, 0.4);
    border-right: 1px solid rgba(200, 200, 200, 0.4);
    background-color: rgba(155, 155, 155, 0.2);
    box-shadow: 3px 3px 3px 0 rgba(100, 100, 100, 0.2);
}

.os-theme-dark {

    & > .os-scrollbar-vertical {
        width: 9px;
    }

    & > .os-scrollbar > .os-scrollbar-track {
        background-color: rgba(200, 200, 200, 0.3);
    }

    & > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
        border-radius: 2px;
        background-color: rgba(215, 215, 215, 0.9);

        &:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
}
