.glass-panel {
    background: linear-gradient(to bottom, rgba(121, 117, 131, 0.33), rgba(54, 53, 103, 0.33));
    background-color: rgba(18, 18, 19, 0.95);
    box-shadow: 0 0 4px 1px var(--border-shadow);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    opacity: 0.95;
}

.os-theme-dark {

    & > .os-scrollbar-vertical {
        width: 11px;
    }

    & > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
        border-radius: 0;
        background-image: url("data:image/svg+xml;utf8,<svg fill='none' height='2' viewBox='0 0 2 2' width='2' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h2v2H0z' fill='rgba(255, 255, 255, 0.6)'/></svg>"),
                          url("data:image/svg+xml;utf8,<svg fill='none' height='2' viewBox='0 0 2 2' width='2' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h2v2H0z' fill='rgba(255, 255, 255, 0.6)'/></svg>"),
                          url("data:image/svg+xml;utf8,<svg fill='none' height='2' viewBox='0 0 2 2' width='2' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h2v2H0z' fill='rgba(255, 255, 255, 0.6)'/></svg>"),
                          url("data:image/svg+xml;utf8,<svg fill='none' height='2' viewBox='0 0 2 2' width='2' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h2v2H0z' fill='rgba(255, 255, 255, 0.6)'/></svg>");
        background-repeat: no-repeat;
        background-size: 2px 2px;
        background-position: left top, left bottom, right bottom, right top;
    }
}
